.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#searchInput {
  width: 75%;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.button-wrapper {
  margin: 10px 0px;
}

#searchButton {
  width: 110px;
  border-radius: 5px;
  padding: 5px;
  background-color: #464646;
  color: #ffff;
  box-shadow: 3px 5px 10px lightgray;
}

#clearButton {
  width: 110px;
  border-radius: 5px;

  padding: 5px;
  background-color: #cc3838;
  color: #ffff;
  box-shadow: 3px 5px 10px lightgray;
}

.imageList-Wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.imageList-Wrapper > .card {
  margin: 20px;
  border: 1px solid grey;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px grey;
}
